@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --max-width: 1200px;
  --font-mono: ui-monospace, Menlo, Monaco, 'Cascadia Mono', 'Segoe UI Mono',
    'Roboto Mono', 'Oxygen Mono', 'Ubuntu Monospace', 'Source Code Pro',
    'Fira Mono', 'Droid Sans Mono', 'Courier New', monospace;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  color-scheme: dark;
  background-color: #1f1f1f;
  color: #ffffff;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

/* Custom Tailwind CSS */
@layer components {
  .checkmark--bedpres {
    @apply border-t-event-bedpres border-l-event-bedpres;
  }
  .checkmark--kurs {
    @apply border-t-event-kurs border-l-event-kurs;
  }
  .checkmark--sosialt {
    @apply border-t-event-sosialt border-l-event-sosialt;
  }

  .toggleBorder--bedpres {
    @apply border-t-event-bedpres;
  }
  .toggleBorder--kurs {
    @apply border-t-event-kurs;
  }
  .toggleBorder--sosialt {
    @apply border-t-event-sosialt;
  }
}
